* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  margin: 0;
  height: 6em;
  color: white;
  align-items: center;
  background-color: #181818;
}

header .clock {
  display: flex;
  position: absolute;
  right: 50px;
}

header img {
  width: 20em;
}

header #tableID {
  padding-left: 200px;
  font-style: italic;
}

body {
  background-color: #181818;
}

button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(11, 0, 36, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000216;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 162px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 16px;
  -webkit-text-size-adjust: auto;
  margin: 10px;
}

button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
  position: relative;
  top: 1px;
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr repeat(2, 0) 3.5fr;
  grid-template-rows: 7fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.output {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 900px;
  height: 450px;
  background-color: white;
  font-size: 16px;
  font-style: italic;
  font-family: "JetBrains Mono", monospace;
  overflow-y: auto;
}

.output table {
  width: 100%;
}

.output tfoot {
  position: absolute;
  bottom: 0;
}

.total-container {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  max-width: 900px;
  top: -30px;
}

.total-container .total-row {
  display: flex;
  justify-content: space-between;
}

.menu {
  grid-area: 1 / 4 / 3 / 5;
  justify-content: center;
  right: 50px;
}

.tbody-foods button {
  background-color: rgb(233, 225, 116);
}

.tbody-drinks button {
  background-color: rgb(120, 105, 255);
}

.menu img {
  width: 40px;
  height: 40px;
}

.menu .t-head-foods img {
  position: relative;
  top: -50px;
  width: 60px;
  height: 70px;
}

.menu .tbody-foods {
  position: relative;
  top: -50px;
}

.menu .t-head-drinks {
  position: relative;
  top: -40px;
}

.menu .tbody-drinks {
  position: relative;
  top: -40px;
}

@media (min-width: 1800px) {
  .menu {
    position: static;
    justify-content: center;
  }

  .menu-container {
    padding-left: 100px;
  }
}

.payment-btn {
  grid-area: 3 / 1 / 4 / 2;
  position: relative;
  display: flex;
  justify-content: center;
  top: -50px;
}

.payment-btn button {
  background-color: rgb(209, 47, 47);
  width: 200px;
  height: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*code*/

  header {
    height: 4em; /* Adjust header height for smaller screens */
  }

  header img {
    width: 15em; /* Adjust image width for smaller screens */
  }

  header #tableID {
    padding-left: 10px; /* Adjust padding for smaller screens */
  }

  header .clock {
    display: none;
  }

  .menu {
    justify-content: center;
    display: flex;
    flex-direction: row;
    right: 50px;
  }

  .output {
    max-width: 450px;
    height: 300px;
  }

  .total-container {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    max-width: 900px;
    top: -30px;
  }

  .total-container .total-row {
    display: flex;
    justify-content: space-around;
  }

  .total-container {
    top: -180px; /* Adjust position for smaller screens */
  }

  .menu .t-head-foods img {
    top: -30px; /* Adjust position for smaller screens */
  }

  .menu .tbody-foods,
  .menu .t-head-drinks,
  .menu .tbody-drinks {
    top: -30px; /* Adjust position for smaller screens */
  }

  .payment-btn {
    top: -180px; /* Adjust position for smaller screens */
  }

  .payment-btn button {
    width: 150px; /* Adjust button width for smaller screens */
  }
}
